node_modules/
*.log
www/

# Capacitor / iOS
ios/App/build/
ios/DerivedData/
xcuserdata/
*.xcuserstate

# Capacitor / Android
android/.gradle/
android/.idea/
android/build/
android/app/build/
android/app/release/
android/local.properties

# Signing
*.keystore
*.jks
